<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<h1 class="text-center">Privacy Policy</h1>
<br>
<p>At Paywall-Free Reader, (“Paywall-Free Reader”), we recognize the importance of privacy and are committed to maintaining the accuracy, confidentiality and security of your personal information. This Privacy Policy describes the personal information that Paywall-Free Reader collects from you, how we manage that personal information and what may happen to that personal information. Paywall-Free Reader is responsible for the personal information that we collect and store.</p>
<h3>What is Personal Information?</h3>
Personal information is any information about an identifiable individual, other than the person’s business title or business contact information (such as business phone number and business address). Personal information does not include anonymous or non-personal information (i.e., information that cannot be associated with or tracked back to a specific individual).
<h3>What Personal Information do we collect?</h3>
<p>We do not collect any personal information</p>
<h3>Paywall-Free Reader’s website</h3>
<p>When you visit the Paywall-Free Reader website, registration is not a precondition to access. However, by visiting the site, you may be identified by your IP address and cookies, or small data files, will be sent to your computer through your browser. The only other personal information that we collect and store via the website is that information which you knowingly provide to us by corresponding with us via e-mail.</p>
<p>Non-personal information, such as the name of the domain from which you access the Internet, the dates and times you access our website and the Internet address of the website from which you may be linking directly to our website, is collected and used to determine the volume of traffic on our website. This information also enables us to identify ways in which our website can be improved to serve you better.</p>
<p>Our website may contain links to other websites that may be subject to less stringent privacy standards. Paywall-Free Reader cannot assume any responsibility for the privacy practices, policies or actions of the third parties that operate these websites. You should review the privacy policies of these websites before providing them with personal information.</p>
<p>By using our website and bots, you signify your consent to the contents of the Paywall-Free Reader Privacy Policy.</p>
<p>——————————————————————————–</p>
<h3>Inquiries, concerns and requests for access</h3>
<p>If you have any questions about this Privacy Policy or to access your personal information, please contact the office. Please note that all requests to access personal information must be in writing or by e-mail.</p>
Paywall-Free Reader, Nairobi, Kenya
Revisions to this Privacy Policy
Paywall-Free Reader may from time to time make changes to this Privacy Policy to reflect changes in its legal or regulatory obligations or enhancements to the manner in which we deal with your personal information. We will post any revised version of this Privacy Policy on our website, and we encourage you to refer back to it on a regular basis. Any changes to this Privacy Policy will be effective from the time they are posted.
This Privacy Policy was last updated on 10 May 2017.
</div>
</div>